h1{
    text-align: center;
    color: #ffffff;
    text-shadow: #090909 5px 5px 10px;
    margin-bottom: 30px;
}
h2{
    color: #ffffff;
    text-shadow: #090909 5px 5px 10px;
}
button{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: #09090903 3px 3px 6px;
    color: #313131;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 0;
    background: #f0f0f0;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.base{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #090909;
    z-index: -3;
}
.banner-vid{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
    object-fit: cover;
    opacity: .5;
    filter: blur(5px);
}
.content-form {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.logForm {
  background: #89898956;
  backdrop-filter: blur(50px);
  width: 400px;
  height: 300px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.infPlace{
    background: #ffffff;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    color: #767676;
}
/*Secret Formularie*/
.hideForm{
    background: #7676762a;
    width: 300px;
    padding: 20px;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    display: none;
}
.cover{
    position: absolute;
    z-index: 1;
    background: #000000b5;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: none;
}

/*hover*/
button:hover{
    background: #b6b6b6c9;
}
button:active{
    background: #090909;
    transition: 0s;
    color: #ffffff;
}
